html, body{
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0 10%;
  background: #f1f1f1;
  --prim: #2d2d2d;
  --sec: #535353;
}

h2 {
  font-size: 1.2rem;
  color: var(--prim);
}

h2 {
  font-size: 1rem;
  color: var(--sec);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

p {
  line-height: 150%;
}

@media screen and (max-width: 480px) {
  html, body{
    margin: 0 10px;
  }
}